@font-face {
  font-family: Makinas-Square;
  src: url(../Fonts/Makinas-4-Square.woff2) format(woff2);
  font-display: swap;
}
@font-face {
  font-family: Makinas-Flat;
  src: url(../Fonts/Makinas-4-Flat.woff2) format(woff2);
}
@font-face {
  font-family: LINESeedJP_Rg;
  src: url(../Fonts/LINESeedJP_OTF_Rg.woff2) format(woff2);
}
@font-face {
  font-family: LINESeedJP_Th;
  src: url(../Fonts/LINESeedJP_OTF_Th.woff2) format(woff2);
}
header {
  text-align: right;
}
main h1 {
  margin-top: 1rem;
}
main p {
  font-size: 1.5rem;
  font-family: "Makinas-Square", sans-serif;
}
h1 {
  padding-top: 0.4rem;
  font-size: 5.8rem;
  font-family: "Makinas-Square", sans-serif;
  margin-bottom: 0.2rem;
  color: #000;
}
h2 {
  width: fit-content;
  font-size: 3rem;
  color: #192f60;
  font-family: "Makinas-Flat", sans-serif;
  border-bottom: 4px #192f60 solid;
  border-width: 100%;
}
section {
  background-color: #82cddd;
}
section p {
  width: fit-content;
  font-size: 1.5rem;
  font-family: "LINESeedJP_Rg", sans-serif;
  color: #043c78;
}
footer {
  font-family: "LINESeedJP_Th", sans-serif;
}

/*以下ハンバーガーメニュー用*/
/* Nav styles */
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
}

.menu li {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  width: 20vw;
}

.menu li a {
  font-family: "LINESeedJP_Rg", sans-serif;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu li:nth-of-type(2) {
  transition-delay: 0.025s;
}

.menu li:nth-of-type(3) {
  transition-delay: 0.05s;
}

.menu li:nth-of-type(4) {
  transition-delay: 0.075s;
}

.menu li:nth-of-type(5) {
  transition-delay: 0.1s;
}

.menu li:nth-of-type(6) {
  transition-delay: 0.125s;
}

.menu.open li {
  transform: translateY(100vh);
}

@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    top: 0;
    left: -100vw;
  }

  .menu li {
    height: 20vh;
    width: 100vw;
  }

  .menu.open li {
    transform: translateX(100vw);
  }
}

/* Hamburger menu */
.hamburger {
  background-color: #fff;
  border-radius: 50%;
  position: fixed;
  top: 1rem;
  right: 1rem;
  border: 0;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.hamburger:focus {
  outline: 0;
}

.hamburger .line {
  background-color: #000;
  display: block;
  margin: 4px auto;
  height: 2px;
  width: 20px;
  transition: all 0.1s ease-in;
}

.hamburger.open .line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
